# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
*.whl
MANIFEST

# Virtual environments
.venv/
venv/
env/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Ruff
.ruff_cache/

# Type checkers
.mypy_cache/
.ty_cache/

# Editors
.vscode/
.idea/
*.swp
